// Specific CSS for your home-page
.banner {
  background-image: asset-url("banner-image.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.top-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.banner h1 {
font-family: Coustard;
font-style: normal;
font-weight: 900;
font-size: 180px;
line-height: 120px;
text-align: center;
color: #0EFFE2;
-webkit-text-stroke: 5px #FE0CF4;
text-shadow: 12px 12px 0px #FE0CF4;
margin-bottom: 16px;
}

.banner-content {
position: absolute;
bottom: 100px;
left: 60px;
text-align: center;
}

.start-btn {
  display: flex;
  justify-content: center;


}

