<div class="main">
  <h1>Welcome to the DAWG Dashboard</h1>



  <div class="container">
      <div class="pending-requests">
        <h2>Pending Requests</h2>

        <div class="request">

        </div>
      </div>

  <div class="my-dogs">

      <% @dogs.each do |dog| %>

        <div class="dog">
          <%= image_tag "dog1-3.jpg"%>
          <h4 class="center mt-2 dog-name"> <%= dog.name %> </h4>
          <h5 class="center dog-breed"> <%= dog.breed %> </h5>
        </div>

      <% end %>
  </div>
