<div class="main">
  <h1>Welcome to the DAWG Dashboard</h1>



  <div class="container">
      <div class="pending-requests">
        <h2>Pending Requests</h2>
      </div>

  <div class="my-dogs">

    <div class="dog">
      <%= @dog.name %>

    </div>
    <div class="dog">

    </div>
    <div class="dog">

    </div>

  </div>

<!--       <div class="my-dogs center">
        <div class="dogs">
          <div class="dog">

          </div>
        </div>
      </div> -->

  </div>
