<div class="booking-new">
  <div class= "container">
    <%= simple_form_for (@booking) do |f| %>
      <%= f.input :description %>
      <%= f.submit item_label_class: 'btn-blue' %>
    <% end %>
  </div>
</div>
