
<div class="banner">
  <%#= image_tag "banner-image.jpg"%>
  <div class="top-btns">
    <div class= "icon">
      <p></p>
    </div>
    <div class="loginbutton">
      <a href="/users/sign_in" class="btn-blue">Login</a>
    </div>
  </div>
  <div class="banner-content">
    <h1>DA</h1>
    <h1>WG</h1>
    <div class="start-btn">
      <a href="/dogs" class="btn-blue">Find a Dog</a>
    </div>
  </div>
</div>


