<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Coustard:wght@900&display=swap" rel="stylesheet">
</head>

<div class="banner">
  <%#= image_tag "banner-image.jpg"%>
  <div class="top-btns">
    <div class= "icon">
      <p> Icon goes here!! </p>
    </div>
    <div>
      <a href="#" class="btn-blue">Login</a>
    </div>
  </div>
  <div class="banner-content">
    <h1>DA</h1>
    <h1>WG</h1>
    <a href="#" class="btn-blue">Find a dog</a>
  </div>
</div>
