.btn-blue {
  background-color: #04f7e3;
  color:#fc3adc;
  width: 160px;
  height: 40px;
  text-align: center;
  padding: 8px 16px;
  border: 3px dashed #fc3adc;
  border-radius: 16px;
  font-weight: bold;
  font-size: 14px;
  transition: background .3s;
  font-family: Coustard;
  display: block;
}

.btn-blue:hover {
  background-color: #fc3adc;
  color: #04f7e3;
  border: 3px dashed #04f7e3;
  text-decoration: none;
}
