.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-icon img {
  width: 65px;
  height: auto;
}

.dawg-logo-icon {
  position: absolute;
}

.logo-name {
    font-family: 'Fredoka One', cursive;
    // font-family: 'Mitr', sans-serif;
    // font-family: 'Pacifico', cursive;
    // font-family: 'Viga', sans-serif;
    font-size: 21px;
    position: relative;
    left: 63px;
    top: 8px;
}

li {
  padding: 0px;
}

.avatar-user {
  width: 50px;
  height: auto;
  padding: 0px;

}

.avatar-carrot {
  width: 35px;
  height: auto;
  padding: 0px;
  position: relative;
  right: 15px;
}

.nav-link {
  position: relative;
  top: 5px;
}

.nav-link a {
  padding-right: 50px;

}
