.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-icon img {
  width: 65px;
  height: auto;
}

.dawg-logo-icon {
  position: absolute;
}

.logo-name {
    font-family: 'Fredoka One', cursive;
    // font-family: 'Mitr', sans-serif;
    // font-family: 'Pacifico', cursive;
    // font-family: 'Viga', sans-serif;
    font-size: 22px;
    position: relative;
    left: 63px;
    top: 8px;
}

.logo-name:hover {
  color: rgb(254, 4, 189);
}

// .navbar-nav-dawg li {
//   padding-right: 0px;
// }

.avatar-user {
  width: 50px;
  height: auto;
  padding: 0px;

}

.avatar-carrot {
  width: 35px;
  height: auto;
  padding: 0px;
  position: relative;
  right: 15px;
}

.nav-link {
  position: relative;
  top: 5px;
}

.nav-link a:hover {
  padding-right: 50px;


}

.navbar-light .navbar-nav .active > .nav-link {
  color: black;
}

.navbar-light .navbar-nav .active > .nav-link:hover {
  color: rgb(254, 4, 189);
}
